@page "/"
@layout ComponentEmpty
@inject NavigationManager NavManager

<PageTitle>Login</PageTitle>
@code {

    private void redirectToUsuarios()
    {
        NavManager.NavigateTo("/Usuarios");
    }
}

<h3>Iniciar sesión</h3>

<div class="form-group">
    <input type="text" id="username" placeholder="Nombre de usuario">
</div>

<div class="form-group">
    <input type="password" id="password" placeholder="Contraseña">
</div>

<button class="btn-primary" @onclick="redirectToUsuarios">Entrar</button>

